/**                                
            _ _ _       _ _     
 _ __   ___| (_) | ____| | |__  
| '_ \ / _ \ | | |/ / _` | '_ \ 
| |_) |  __/ | |   < (_| | |_) |
| .__/ \___|_|_|_|\_\__,_|_.__/ 
|_|                             
            
*/

// Core variables and mixins
@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "bower_components/bootstrap/less/normalize.less";
@import "bower_components/bootstrap/less/print.less";
@import "bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/type.less";
//@import "bower_components/bootstrap/less/code.less";
@import "bower_components/bootstrap/less/grid.less";
@import "bower_components/bootstrap/less/tables.less";
@import "bower_components/bootstrap/less/forms.less";
@import "bower_components/bootstrap/less/buttons.less";

// Components
@import "bower_components/bootstrap/less/component-animations.less";
@import "bower_components/bootstrap/less/dropdowns.less";
//@import "bower_components/bootstrap/less/button-groups.less";
//@import "bower_components/bootstrap/less/input-groups.less";
@import "bower_components/bootstrap/less/navs.less";
@import "bower_components/bootstrap/less/navbar.less";
//@import "bower_components/bootstrap/less/breadcrumbs.less";
//@import "bower_components/bootstrap/less/pagination.less";
//@import "bower_components/bootstrap/less/pager.less";
@import "bower_components/bootstrap/less/labels.less";
@import "bower_components/bootstrap/less/badges.less";
@import "bower_components/bootstrap/less/jumbotron.less";
//@import "bower_components/bootstrap/less/thumbnails.less";
@import "bower_components/bootstrap/less/alerts.less";
//@import "bower_components/bootstrap/less/progress-bars.less";
@import "bower_components/bootstrap/less/media.less";
//@import "bower_components/bootstrap/less/list-group.less";
@import "bower_components/bootstrap/less/panels.less";
//@import "bower_components/bootstrap/less/responsive-embed.less";
//@import "bower_components/bootstrap/less/wells.less";
@import "bower_components/bootstrap/less/close.less";

// Utility classes
@import "bower_components/bootstrap/less/utilities.less";
@import "bower_components/bootstrap/less/responsive-utilities.less";

// variables pelikdb 
@import "theme.less";

// Styles propres à pelikdb
#menu {
    background-color: #FFF;
}

header.jumbotron {
    background-color: #FFF;
}

// autres éléments du thème
#footer {
    border-top: 1px solid @table-border-color;
    margin-top: 50px;
    padding: 20px;
}

//
//  remplacement des list-groups.less et code.less pour pelikdb
//

//
// List groups
// --------------------------------------------------


// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: @list-group-bg;
}


// Linked list items
//
// Use anchor elements instead of `li`s or `div`s to create linked list items.
// Includes an extra `.active` modifier class for showing selected items.

a.list-group-item {
  color: @list-group-link-color;

  .list-group-item-heading {
    color: @list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: @list-group-link-hover-color;
    background-color: @list-group-hover-bg;
  }
}

.list-group-item {

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
    border-color: @list-group-active-border;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      color: @list-group-active-text-color;
    }
  }
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

// code.less en version simplifiée pour éviter les conflits avec pygment
code,
kbd,
pre,
samp {
    font-family: @font-family-monospace;
}

// Inline code
code {
    padding: 2px 4px;
    font-size: 90%;
}

// User input typically entered via keyboard
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: @kbd-color;
    background-color: @kbd-bg;
    border-radius: @border-radius-small;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: bold;
        box-shadow: none;
    }
}

// Blocks of code
pre {
    display: block;
    padding: ((@line-height-computed - 1) / 2);
    margin: 0 0 (@line-height-computed / 2);
    font-size: (@font-size-base - 1); // 14px to 13px
    line-height: @line-height-base;
    word-break: break-all;
    word-wrap: break-word;

    // Account for some code outputs that place code tags in pre tags
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}

// Enable scrollable blocks of code
.pre-scrollable {
    max-height: @pre-scrollable-max-height;
    overflow-y: scroll;
}