@gray-lighter:           lighten(@gray-base, 95%); // #f2f2f2
@gray-light:             lighten(@gray-base, 70%); // #808080

@body-bg:                   @gray-lighter;
@brand-primary:             @gray-darker;

@navbar-margin-bottom:      0;

@jumbotron-color :          @text-color;
@jumbotron-bg:              transparent;
@jumbotron-padding:         30px;

@icon-font-path:            "/theme/fonts/";

@hr-border:                 @gray-light;

@list-group-bg:             transparent;
@list-group-border:         transparent;
@list-group-hover-bg:       transparent;