{% from "includes/macros.html" import icon %}

<div class="list-group row">
    {% for article in articles_page.object_list|sort(attribute='date', reverse=true) %}
    <a href="{{ SITEURL }}/{{ article.url }}" class="list-group-item col-xs-6">
        <h4 class="list-group-item-heading">{{ article.title }}</h4>
        <div class="list-group-item-text">
            {{ article.summary }}
            <span class="label label-default">{{ article.category }}</span>&nbsp;
            {% for tag in article.tags %}
            <small>{{ icon('tag') }} {{ tag }}</small> 
            {% endfor %}
        </div>
    </a>
    {% endfor %}
</div>