{% from "includes/macros.html" import icon %}
<div class="navbar" id="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                Menu
            </button>
            <a class="navbar-brand" href="{{ SITEURL }}">{{ icon('home') }} {{ SITENAME }}</a>
        </div>
        <nav id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for title, link in MENUITEMS %}
                <li>
                    <a href="{{ link }}">{{ title }}</a>
                </li>
                {% endfor %}

{% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, articles_list in categories %}
                <li {% if cat == category %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ cat.url }}">
                        {{ cat }} 
                        {%if articles_list|length > 1 %}<span class="badge">{{ articles_list|length }}</span>{% endif %}
                        {% if cat == category %}<span class="sr-only">(en cours)</span>{% endif %}
                    </a> 
                </li>
                {% endfor %}
{% endif %}

{% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                <li {% if p == page %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ p.url }}">
                        {{ p }} 
                        {% if p == page %}<span class="sr-only">(en cours)</span>{% endif %}
                    </a> 
                </li>
                {% endfor %}
{% endif %}
            </ul><!--/.navbar-nav -->
        </nav><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->