{% if DEFAULT_PAGINATION %}
<nav>
    <ul class="pagination">
        {% if articles_page.has_previous() %}
        <li>
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li>Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</li>
        {% if articles_page.has_next() %}
        <li>
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}" aria-label="Suivant">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}