{% extends "base.html" %}
{% from "includes/macros.html" import icon %}

{% block head %}
    {{ super() }}
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block content_header %}
<header class="jumbotron">
    <div class="container">
        <h1>{{ article.title }}</h1>
        {% if article.summary %}{{ article.summary }}{% endif %}
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row">
    <aside class="col-md-3 col-md-push-9">
{% if article.toc %}
        <strong>Sommaire</strong>
        {{ article.toc }}
        <hr>
{% endif %}
        <div class="meta">
            <dl>
                {% if article.modified %}
                <dt>Dernière mise à jour</dt>
                <dd>{{ article.locale_modified }}</dd>
                {% endif %}
                <dt>Création</dt>
                <dd>{{ article.locale_date }}</dd>
                <dt>Thématique</dt>
                <dd>{{ article.category }}</dd>
                <dt>Mots clés</dt>
                <dd>
                    {% for tag in article.tags %}
                    {{ icon('tag') }} {{ tag }}  
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </aside>
    <article class="col-md-9 col-md-pull-3">
        {{ article.content }}
    </article>
</div><!-- /.entry-content -->
{% endblock %}