<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
{% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% if LICENCE_URL %}
        <meta name="DC.rights" scheme="DCTERMS.URI" content="{{ LICENCE_URL }}" />
        {% endif %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        {% include "includes/feeds.html" %}
        <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="stylesheet" href="/theme/css/pygment.css" type="text/css" />
{% endblock head %}
    </head>
    <body>

        {% include "includes/navbar.html" %}

        {% block content_header %}{% endblock %}

        <div id="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <a href="http://getpelican.com" rel="external">Pelican</a> + 
                <a href="http://getbootstrap.com" rel="external">Bootstrap</a> + 
                <a href="http://canarduck.com" rel="external">Canarduck</a> = 
                <a href="https://bitbucket.org/canarduck/pelikdb" rel="external">Pelikadb</a> 
            </div>
        </footer>

        <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
        <script src="/theme/js/bootstrap.js"></script>
        <script src="/theme/js/main.js"></script>
        {% include "includes/analytics.html" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
