{% extends "base.html" %}

{% block content_header %}
<header class="jumbotron">
    <div class="container">
        <h1>{{ category }}</h1>
        <p>{{ articles|length }} article(s) dans cette thématique</p>
    </div>
</header>
{% endblock %}

{% block content %}
{% include "includes/articles_list.html" %}
{% endblock %}