{% extends "base.html" %}

{% block content_header %}
<header class="jumbotron">
    <div class="container">
        <h1>{{ SITENAME }}</h1>
        <p>{{ SITESUMMARY }}</p>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    {% include "includes/articles_list.html" %}
    <hr>
    {% for tag, articles_list in tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}" class="btn btn-link">
        {{ tag }} 
        {% if articles_list|length > 1 %}
        <span class="badge">{{ articles_list|length }}</span>
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endblock content %}